@model homework3.Models.Museum
@{ ViewData["Title"] = "Удалить музей"; }
<h1>Удалить музей</h1>
<h3>Вы уверены, что хотите удалить этот музей?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">Название</dt>
        <dd class="col-sm-10">@Model.MuseumName</dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="MuseumId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Отмена</a>
    </form>
</div>
